#logout{
font-size: 20px;
float: right;
}
#output{
padding: 10px;
width: 80%;
background: rgba(255,255,255,0.8);
border-radius: 15px;
}
.input_div_room_page{
width: 80%;
}
.input_div label{
color: white;
font-size: 20px;
}
.input_div_message_page{
position: fixed;
bottom: 55;
width: 100%;
background: rgba(255,255,255,0.8);
}
.input_div_message_page_label{
color: black;
}
.input_div_message_page #msg{
width: 80%;
}
.input_div_message_page button{
margin-top: 15px;
width: 50%;
}
.color_white{
color: white;
}
.user_tick{
width: 20px;
height: 20px;
}
.message_h4{
padding-left: 5px;
color: grey;
}
body{
    background-color: skyblue;
    }
        ::selection{
            color: white;
            background-color: green;
            }
                .footer{
                    border-radius: 0px;
                    width: 100%;
                    font-family: 'Century Gothic';
                    font-size: 20px;
                    background-color: lightcyan;
                    color: black;
                    text-align: center;
                    position: fixed;
                    bottom: 0;
                    display: inline-block;
                }
                
                .footer img{
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                }
                
                .footer h2{
                    font-size: 20px;
                    display: inline-block;
                }
                #contents{
                    width: 800px;
                    border-radius: 30px;
                    background-color: rgb(156, 234, 149);
                    text-align: center;
                }